* {
    color: black;
    font-family: "Jost", Verdana, Geneva, Tahoma, sans-serif;
}

a {
    text-decoration: none;
}

body {
    background-color: #9f9add;
    margin: 0px;
}

h1 {
    text-align: center;
    color: #221e46;
}

h2 {
    text-align: center;
    color: #8c86be;
}

html {
    margin: 0px;
    padding: 0px;
}

.center-box {
    background-color: #8c86be;
    max-width: 50%;
    margin: auto;
    padding: 12px 24px;
    border-radius: 24px;
}

.content {
    align-self: center;
    max-width: 75%;
    margin: auto;
    background-color: #9f9add;
    min-height: 0px;
    height: auto !important;
    height: 600px;
}

.navbar {
    text-align: center;
    background: #3c3575;
    padding: 6px;
    margin: 12px;
    border-radius: 24px;
}

.navbar-option {
    display: inline-block;
    padding: 6px 12px;
    border-radius: 24px;
    background-color: #554d92;
    scale: 100%;
    color: #d7d5eb
}

.navbar-option:hover {
    scale: 105%;
    background-color: #ada9e0;
    color: #221e46;
    border-radius: 24px;
    transition: scale 0.2s,
                background-color 0.3s,
                color 0.3s;
}

.navbar-option:not(:hover) {
    transition: all 0.2s;
}

.navbar-list-item {
    display: inline-block;
}

.footer {
    text-align: center;
    background: #3c3575;
    margin: 24px 0px 0px 0px;
    padding: 12px 0px 0px 0px;
    min-height: 250px;
    height: auto !important;
    height: 250px;
}

#footer-links {
    margin: 0px;
    padding: 0px;
}

#footer-about {
    color: #d7d5eb;
}

.footer-option {
    display: inline-block;
    padding: 6px 12px;
    border-radius: 24px;
    background-color: #554d92;
    scale: 100%;
    color: #d7d5eb
}

.footer-option:hover {
    scale: 105%;
    background-color: #ada9e0;
    color: #221e46;
    border-radius: 24px;
    transition: scale 0.2s,
                background-color 0.3s,
                color 0.3s;
}

.footer-option:not(:hover) {
    transition: all 0.2s;
}

.footer-list-item {
    display: inline-block;
}

.about-link {
    display: inline-block;
    color: #ada9e0;
    text-decoration: underline;
    padding: 0px;
    border-radius: 6px;
    scale: 100%;
}

.about-link:hover {
    background-color: #554d92;
    color: #d7d5eb;
    padding: 3px 48px;
    transition: padding 0.3s,
                background-color 0.2s,
                color 0.2s;
}

.about-link:not(:hover) {
    transition: all 0.5s ease-out;
}

.link {
    display: inline-block;
    color: #221e46;
    text-decoration: underline;
    padding: 0px;
    border-radius: 6px;
    scale: 100%;
}

.link:hover {
    background-color: #554d92;
    color: #d7d5eb;
    padding: 3px 48px;
    transition: padding 0.3s,
                background-color 0.2s,
                color 0.2s;
}

.link:not(:hover) {
    transition: all 0.5s ease-out;
}
/* Baffled that my last commit didn't commit smh */
